@import '/src/sass/abstracts/variables';
@import '/src/sass/abstracts/mixins';

.constact-details {
  @include white-block(8px);
  padding: 2.15rem 2.3rem 2rem 3rem;

  display: flex;
  gap: 1.2rem;
}
