@import '../../../../../sass/abstracts/variables';

header {
  width: 100%;
  height: 88px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-neutral70;
}
.header-wrapper {
  max-width: 1128px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-items-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

::ng-deep.currency-select {
  .mdc-text-field {
    width: 64px;
    height: 40px;
    padding: 0;
    display: flex;
    align-items: center;
    text-align: center;
  }
  .mat-mdc-form-field-subscript-wrapper {
    height: 0;
  }
}
::ng-deep.date-select {
  .mdc-text-field {
    width: 162px;
    height: 40px;
    padding: 0;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    text-align: center;
  }
  .mat-mdc-form-field-subscript-wrapper {
    height: 0;
  }
}
::ng-deep.select {
  .mat-mdc-select-arrow {
    display: none;
  }
}
.sign-button-wrapper {
  box-sizing: border-box;
  cursor: pointer;
  width: 114px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 4px;
  border: 0.5px solid rgba(116, 118, 122, 0.6);
  outline: 0.5px solid rgba(116, 118, 122, 0.6);
}
