$primary: (
    50 : #e2e7f0,
    100 : #b8c4d8,
    200 : #889cbf,
    300 : #5874a5,
    400 : #355791,
    500 : #11397e,
    600 : #0f3376,
    700 : #0c2c6b,
    800 : #0a2461,
    900 : #05174e,
    A100 : #8298ff,
    A200 : #4f6eff,
    A400 : #1c45ff,
    A700 : #0330ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$accent: (
    50 : #e0f2f7,
    100 : #b3deeb,
    200 : #80c8de,
    300 : #4db1d1,
    400 : #26a1c7,
    500 : #0090bd,
    600 : #0088b7,
    700 : #007dae,
    800 : #0073a6,
    900 : #006198,
    A100 : #c3e6ff,
    A200 : #90d0ff,
    A400 : #5dbbff,
    A700 : #44b0ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$warn: (
    50 : #f6e5e4,
    100 : #e8bebc,
    200 : #d9938f,
    300 : #ca6762,
    400 : #be4740,
    500 : #b3261e,
    600 : #ac221a,
    700 : #a31c16,
    800 : #9a1712,
    900 : #8b0d0a,
    A100 : #ffbab9,
    A200 : #ff8886,
    A400 : #ff5653,
    A700 : #ff3d3a,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);
