@import '../../../../../sass/abstracts/variables';
@import '../../../../../sass/abstracts/mixins';


h2 { 
  display: flex;
  align-items: flex-end;
  gap: .5rem;
  margin-bottom: 0.6rem;
}

.subtitle {
  margin-top: 0;
  margin-bottom: 1.4rem;
}

.constact-details {
  padding: 2rem 2.3rem .5rem 2.5rem;

  display: flex;
  gap: 1.2rem;

  &_code, &_phone {
    width: 16rem;
  }

  &_phone {
    margin-right: 1.2rem;
  }
  
  &_email {
    width: 40%;
  }
}
