@import "../sass/abstracts/variables";

.container {
  max-width: 1128px;
  min-height: 670px;
  margin: 0 auto;
  // margin-top: 156px;
  box-sizing: border-box;
}

.main-page {
  main {
    box-sizing: border-box;
    background-image: url(../assets/images/main-bg.png);
    background-repeat: no-repeat;

    @media screen and (min-width: 1330px) {
      background-size: 100% auto;
      background-position: top center;
      min-height: min(702px, calc(100vh - 100px));
    }

    @media screen and (max-width: 1329px) {
      background-size: auto 100%;
      background-position: top center;
      min-height: min(702px, 100vh);
    }

    @media screen and (max-width: 980px) {
      background-position: 70% top;
      min-height: 702px;
    }
  }
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  main {
    flex-grow: 1;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;

    @media screen and (max-width: 426px) {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  &.main-page main {
    @media screen and (min-width: 427px) {
      padding-top: 9.4rem;
    }

    @media screen and (max-width: 426px) {
      padding-top: 7rem;
    }
  }

  &:not(.main-page) main {
    padding-top: 8.3rem;
  }

  .footer {
    padding: 0 2rem;
    border-top: 1px solid $color-secondary40;
  }
}
