.main-page {
  main {
    box-sizing: border-box;
    background-image: url(../assets/images/main-bg.png);    
    background-repeat: no-repeat;        

    @media screen and (min-width: 1330px) {
      background-size: 100% auto;
      background-position: top center;
      min-height: max(702px, 100vh);
    }

    @media screen and (max-width: 1329px) {
      background-size: auto 100%;
      background-position: top center;
      min-height: min(702px, 100vh);
    }

    @media screen and (max-width: 980px) {
      background-position: 70% top;
    }
  }
}

.page {
  &.main-page {
    display: flex;
    flex-direction: column;
  }

  &.main-page main {
    padding: 9.4rem 2rem 2rem;
  }

  &:not(.main-page) main {
    padding: 8.3rem 2rem 2rem;
  }

  .footer {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
  }
}
