@import '../../../../sass/abstracts/variables';
@import '../../../../sass/base/typography';
.stepper-wrapper {
  min-width: 532px;
  height: 36px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: $color-neutral30;
  @extend %text-label-medium;
  .stepper-line {
    width: 80px;
  }
  .stepper-icon {
    width: 16px;
    height: 16px;
    * {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
    }
  }
}
@media screen and (max-width: 1128px) {
  .stepper-wrapper {
    display: none;
  }
}
