@import '../../../../sass/abstracts/variables';
@import '../../../../sass/base/typography';

.login-form-container {
  position: absolute;
  left: 30%;
  top: 80px;
  display: flex;
  z-index: 10;
}
.login-form-wrapper {
  width: 494px;
  padding: 32px 24px;
  border-radius: 8px;
  background-color: $color-neutral100;
}
.tab-login {
  width: 100%;
}
.login-btn {
  margin-top: 24px;
  width: 100%;
  height: 44px;
}
.width-100 {
  width: 100%;
}
.login-header-button {
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    margin: 0;
    margin-left: 8px;
  }
}
.login-header-container {
  margin-top: 36px;
  width: inherit;
  height: 128px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.divider {
  margin-bottom: 24px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .line {
    flex: 1;
  }
  .text {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.login-footer-container {
  width: inherit;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  .link {
    text-decoration: none;
    color: $color-primary;
    @extend %text-label-medium;
  }
  .link-fogot-position {
    align-self: flex-end;
  }
}
.toggle-gender-button {
  height: 40px;
  margin: 4px 0;
}
.mobile-container {
  margin-top: 16px;
  width: inherit;
  display: flex;
  justify-content: space-between;
}
