<header [ngClass]="{
  'header-main-page' : !showStepper,
  'header-with-stepper' : showStepper
}">
  <div class="header-wrapper" [formGroup]="headerData">
    <a routerLink="/">
      <img src="../../../../../assets/images/Logo.png" alt="Logo Airways">
    </a>

    <mat-stepper *ngIf="showStepper" linear class="stepper" [selectedIndex]="stepperIndex">
      <mat-step [routerLink]="['/select-flight']" [stepControl]="flights">
        <ng-template matStepLabel>Flights</ng-template>
      </mat-step>
      <mat-step [stepControl]="passengers">
        <ng-template matStepLabel>Passengers</ng-template>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Review & Payment</ng-template>
      </mat-step>
    </mat-stepper>

    <div class="header-items-wrapper">
      <mat-label *ngIf="!showStepper">Book flights</mat-label>

      <mat-form-field class="date-select" appearance="outline" hideRequiredMarker>
        <mat-select hideSingleSelectionIndicator formControlName="dateFormat">
          <mat-option value="MM/DD/YYYY">MM/DD/YYYY</mat-option>
          <mat-option value="DD/MM/YYYY">DD/MM/YYYY</mat-option>
          <mat-option value="YYYY/DD/MM">YYYY/DD/MM</mat-option>
          <mat-option value="YYYY/MM/DD">YYYY/MM/DD</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="currency-select" appearance="outline" hideRequiredMarker>
        <mat-select hideSingleSelectionIndicator class="select" formControlName="currencyFormat">
          <mat-option value="EUR">EUR</mat-option>
          <mat-option value="USA">USA</mat-option>
          <mat-option value="RUB">RUB</mat-option>
          <mat-option value="PLN">PLN</mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-button class="sign-button-wrapper" (click)="modalWindowServices.showModal()">
        <mat-icon fontIcon="person_outline"></mat-icon>
        <span>Sign in</span>
      </button>

      <button mat-icon-button><mat-icon fontIcon="shopping_basket"></mat-icon></button>
    </div>
  </div>
</header>
<app-login-form *ngIf="modalWindowServices.isLogin"></app-login-form>