<header
  [ngClass]="{
    'header-main-page header-main-color': isMainPage,
    'header-with-stepper header-inner-bg': !isMainPage
  }"
>
  <div class="container header-wrapper">
    <a routerLink="/" class="logo">
      <mat-icon svgIcon="icon-logo" color="primary"></mat-icon>
    </a>

    <app-stepper
      class="stepper"
      *ngIf="
        currentUrl === '/select-flight' ||
        currentUrl === '/booking-process' ||
        currentUrl === '/summary'
      "
    ></app-stepper>

    <div class="header-items-wrapper">
      <mat-label *ngIf="isMainPage">Book flights</mat-label>

      <app-date-format></app-date-format>

      <app-currency [isMainPage]="isMainPage"></app-currency>

      <button
        mat-button
        class="sign-button-wrapper"
        *ngIf="!authApiService.getIsLogin()"
        (click)="modalWindowServices.switchModal()"
      >
        <mat-icon
          [ngClass]="{ 'color-100': currentUrl === '/' }"
          fontIcon="person_outline"
        ></mat-icon>
        <span
          [ngClass]="{
            'header-main-color': currentUrl === '/',
            'header-neutral10-color': currentUrl !== '/'
          }"
          >Sign in</span
        >
      </button>

      <button
        mat-button
        class="sign-button-wrapper"
        *ngIf="authApiService.getIsLogin()"
        [matMenuTriggerFor]="accountMenu"
      >
        <mat-icon
          color="primary"
          [ngClass]="{
          'account-icon' : currentUrl !== '/',
        }"
          fontIcon="person_outline"
        ></mat-icon>
        <span class="color-primary">{{ authApiService.tokenData?.firstName }}</span>
      </button>

      <button mat-icon-button routerLink="/shopping-card">
        <mat-icon fontIcon="shopping_basket"></mat-icon>
      </button>

      <button mat-mini-fab color="primary" aria-label="Change theme" (click)="changeTheme()">
        <mat-icon *ngIf="!isDarkMode">light_mode</mat-icon>
        <mat-icon *ngIf="isDarkMode">dark_mode</mat-icon>
      </button>
    </div>

    <button
      class="hidden-mat-menu"
      mat-icon-button
      [matMenuTriggerFor]="mobileMenu"
      aria-label="Example icon-button with a menu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
</header>

<app-login-form *ngIf="modalWindowServices.getModal()"></app-login-form>

<!-- mat menu -->

<mat-menu #accountMenu="matMenu">
  <button mat-menu-item routerLink="/user-account">Account history</button>
  <button mat-menu-item (click)="logOut()">Logout</button>
  <button routerLink="/shopping-card" mat-menu-item>
    <span class="mat-menu-container">
      <mat-icon color="primary" fontIcon="shopping_basket"></mat-icon>Basket
    </span>
  </button>
</mat-menu>

<mat-menu #mobileMenu="matMenu">
  <button
    mat-menu-item
    *ngIf="authApiService.getIsLogin() === false"
    (click)="modalWindowServices.switchModal()"
  >
    <span>Sign in</span>
  </button>

  <button mat-menu-item *ngIf="authApiService.getIsLogin()" [matMenuTriggerFor]="accountMenu">
    <span class="mat-menu-container">
      <mat-icon color="primary" fontIcon="person_outline"></mat-icon>User
    </span>
  </button>

  <button mat-menu-item [matMenuTriggerFor]="dateFormatMenu">
    <span class="mat-menu-container">
      <mat-icon color="primary" fontIcon="calendar_today"></mat-icon
      >{{ currentDateFormat$ | async }}
    </span>
  </button>

  <button mat-menu-item [matMenuTriggerFor]="currencyFormatMenu">
    <span class="mat-menu-container">
      <mat-icon color="primary" fontIcon="money"></mat-icon>{{ currentCurrency$ | async }}
    </span>
  </button>
</mat-menu>

<mat-menu #dateFormatMenu="matMenu">
  <app-date-format dateFormatView="list"></app-date-format>
</mat-menu>

<mat-menu #currencyFormatMenu="matMenu">
  <app-currency currencyView="list"></app-currency>
</mat-menu>
