@import '../../../../sass/abstracts/mixins';
@import '../../../../sass/base/typography';
@import '../../../../sass/abstracts/variables';

.flights-summary {
  @media screen and (min-width: 769px) {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 2.5rem;
  }

  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }
}

.flight-action {
  @media screen and (min-width: 451px) {
    display: flex;
    gap: 2.5rem;
    justify-content: flex-end;
    align-items: center;
  }

  @media screen and (max-width: 450px) {
    display: grid;
    gap: 2rem;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr;
  }
}

.back-link {
  @extend %text-button;
  text-decoration: none;

  @media screen and (max-width: 450px) {
    order: 3;
  }

  @media screen and (min-width: 591px) {
    margin: 0 2.8rem;
  }

  @media screen and (max-width: 590px) {
    margin: 0;
  }
}
