<section class="flights-summary">
  <div>
    <app-flight-card [passengers]="passengersInfo" [flight]="flightDetails"></app-flight-card>
  </div>
  <div>
    <app-flight-card [passengers]="passengersInfo" [flight]="flightDetails"></app-flight-card>
    <app-flight-fare
      [passengersTotal]="passengersNumber"
      [price]="ticketPrice" 
    ></app-flight-fare>
  </div>
</section>

<section class="flight-action">
  <a [routerLink]="['/booking']" class="back-link">Back</a>
  <button mat-stroked-button (click)="addToCart()" class="btn" [disabled]="isDisabledAddToCart">Add order to cart</button>
  <button mat-raised-button color="primary" (click)="onBuy()" class="btn">Buy now</button>
</section>
