@import '../../../../sass/abstracts/variables';
@import '../../../../sass/base/typography';

.page-wrapper {
  padding-top: 40px;
  padding-bottom: 99px;
}
.cart-table-wrapper {
  position: relative;
  max-width: 1128px;
  min-height: 680px;
  width: 100;
  border-radius: 8px;
  box-shadow: $shadow;
  display: flex;
  flex-direction: column;
  h2 {
    margin-top: 33px;
    margin-left: 31px;
    margin-bottom: 0;
  }
  p {
    margin: 0;
    display: flex;
    display: flex;
    align-items: center;
  }
}

.table-wrapper {
  margin-top: 27px;
  overflow-x: auto;
}
.table {
  width: 1128px;
  display: grid;
  @extend %text-body-XLarge;
  font-weight: 500;
  .table-header {
    height: 67px;
    display: grid;
    column-gap: 28px;
    justify-content: center;
    align-items: center;
    grid-template-columns: 160px 178px 102px 260px 106px 130px;
  }
  .divider {
    margin: 0 31px;
  }
  .table-content {
    cursor: pointer;
    width: 100%;
    display: grid;
    column-gap: 28px;
    justify-content: center;
    grid-template-columns: 160px 178px 102px 260px 106px 130px;
    padding: 20px 0;
    &:hover {
      background-color: $color-neutral40;
    }
    &:active {
      background-color: $color-neutral40;
    }
    .flight-number {
      display: flex;
      align-items: center;
    }
    .price {
      span {
        color: $color-highlight-green0;
      }
    }
  }
}
.arrow-icons {
  height: 24px;
  display: flex;
  flex-direction: column;
  .mat-icon {
    width: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }
}
.spinner-wrapper {
  display: flex;
  justify-content: center;
}
.date {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.passengers {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 540px) {
  .payment {
    margin-top: 10px;
  }
}
