<footer>
  <div class="footer-wrapper container">
    <a>&copy;2023 AIRWAY All&nbsp;rights&nbsp;reserved</a>
    <div class="icons-wrapper">
      <p>We accept these payment methods</p>
      <div class="icons-container">
        <img src="../../../../../assets/icons/icon-mastercard.png" alt="master card">
        <img src="../../../../../assets/icons/icon-amason-pay.png" alt="amazon pay">
        <img src="../../../../../assets/icons/icon-american-express.png" alt="american express">
        <img src="../../../../../assets/icons/icon-visa.png" alt="visa">
      </div>
    </div>
  </div>
</footer>