<footer>
  <div class="footer-wrapper">
    <a>&copy;2023, AIRWAY, All rights reserved.</a>
    <div class="icons-wrapper">
      <p>We accept these payment methods</p>
      <div class="icons-container">
        <img src="../../../../../assets/icons/Icon Mastercard.png" alt="master card">
        <img src="../../../../../assets/icons/Icon Amason Pay.png" alt="amazon pay">
        <img src="../../../../../assets/icons/Icon American Express.png" alt="american express">
        <img src="../../../../../assets/icons/Icon Visa.png" alt="visa">
      </div>
    </div>
  </div>
</footer>