<ng-container [formGroup]="form" *ngIf="passenger">
  <ng-container [formGroupName]="id">
    <section class="passenger-form">
      <h2>{{ id + 1 }} {{ category }}</h2>

      <div class="passenger-form_wrapper">
        <mat-form-field appearance="outline" *ngIf="firstName">
          <mat-label>First name</mat-label>
          <input matInput type="text" formControlName="firstName" />
          <mat-icon
            *ngIf="!(firstName.invalid && (firstName.dirty || firstName.touched))"
            matSuffix
            matTooltip="{{ nameTooltip }}"
            matTooltipPosition="right"
            matTooltipClass="form-tooltip"
            >info</mat-icon
          >
          <mat-icon
            *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
            matSuffix
            class="error-icon"
            >error</mat-icon
          >
          <mat-error *ngIf="firstName.hasError('required')">Please enter a title</mat-error>
          <mat-error
            *ngIf="(firstName.dirty || firstName.touched) && firstName.hasError('minlength')"
            >The title is too short</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="outline" *ngIf="lastName">
          <mat-label>Last name</mat-label>
          <input matInput type="text" formControlName="lastName" />
          <mat-icon
            *ngIf="!(lastName.invalid && (lastName.dirty || lastName.touched))"
            matSuffix
            matTooltip="{{ nameTooltip }}"
            matTooltipPosition="right"
            matTooltipClass="form-tooltip"
            >info</mat-icon
          >
          <mat-icon
            *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
            matSuffix
            class="error-icon"
            >error</mat-icon
          >
          <mat-error *ngIf="lastName.hasError('required')">Please enter a title</mat-error>
          <mat-error *ngIf="(lastName.dirty || lastName.touched) && lastName.hasError('minlength')"
            >The title is too short</mat-error
          >
        </mat-form-field>

        <section class="gender-section" [class.error]="passenger.get('gender')?.hasError('required') && passenger.touched">
          <mat-chip-listbox aria-label="Gender selection" class="gender" formControlName="gender">
            <div>
              <mat-chip-option class="gender-male">Male</mat-chip-option>
              <mat-chip-option class="gender-female">Female</mat-chip-option>
            </div>           
          </mat-chip-listbox>
          <mat-error *ngIf="passenger.get('gender')?.hasError('required') && passenger.touched"
             >This field is required</mat-error
           >
        </section>

        <mat-form-field
          appearance="outline"
          floatLabel="always"
          *ngIf="passenger.get('dateOfBirth') as dp"
        >
          <mat-label>Date of birth</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            name="dateOfBirth"
            formControlName="dateOfBirth"
            placeholder="MM/DD/YYYY"
            (click)="picker.open()"
            autocomplete="off"
          />
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="dp.hasError('required')">Please enter your date of birth</mat-error>
        </mat-form-field>

        <section class="needhelp">
          <mat-slide-toggle name="needHelp" formControlName="needHelp">
            <mat-icon matSuffix>accessible</mat-icon>Need a special assistance?</mat-slide-toggle
          >
        </section>
      </div>
      <mat-divider></mat-divider>
      <app-checkin-bag [passenger]="passenger"></app-checkin-bag>
    </section>
  </ng-container>
</ng-container>
