<section class="flight" *ngFor="let flight of flightsDetails$ | async">
  <div class="flight-details">
    <div class="flight-details_departure">
      <span class="date">{{
        flight.departure_at | date : "EEE, d MMM y"
      }}</span>
      <span class="start-time">
        <span class="time">{{
          flight.departure_at | date : "HH:mm"
        }}</span>
        <span class="offset">{{ flight.departure_at | date : "z" }}</span>
      </span>
      <span class="station">{{flight.origin}}</span>
    </div>
    <div class="travel-time">
      <span class="travel-time_duration">{{flight.duration | duration}}</span>
      <mat-icon aria-hidden="true" fontIcon="flight_takeoff" class="plane"></mat-icon>
      <span class="travel-time_direction">Direct, transfers {{flight.transfers}}</span>
    </div>
    <div class="flight-details_arrival">
      <span class="date">{{
        flight.return_at | date : "EEE, d MMM y"
      }}</span>
      <span class="end-time">
        <span class="offset">{{ flight.return_at | date : "z" }}</span>
        <span class="time">{{ flight.return_at | date : "HH:mm" }}</span>
      </span>
      <span class="station">{{flight.destination}}</span>
    </div>
  </div>
  <div class="flight-order">
    <div class="flight-number">
      <span class="flight-number_label">Flight no.</span>
      <span class="flight-number_number">{{flight.airline}} {{flight.flight_number}}</span>
    </div>
    <div class="flight-info">
      <div class="flight-availability" [appColored]="flight.seats">
        {{flight.seats}} seats <br />
        available
      </div>
      <div class="flight-price">
        <span class="flight-price_label">Price</span>
        <span class="flight-price_price">{{flight.price | currency | formatPrice}}</span>
      </div>
    </div>
    <button mat-button class="btn-with-gradient">Select</button>
  </div>
</section>
