.flight-data-edit-form {
  height: 101px;
  margin-top: 0;
  visibility: visible;
  transition: all linear 250ms;
  .mui-card {
    padding-top: 20px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }

  &.close {
    margin-top: -101px;
    visibility: hidden;
    transition: all linear 250ms;
  }
}
