<section class="flight-fare" *ngIf="currency$ | async as currentCurrency">
  <div class="flight-fare_table">
    <ul>
      <li *ngFor="let fareItem of fareInfo">
        <p class="line">
          <span class="title">{{ fareItem.title }}</span>
          <span class="price">{{ fareItem.price | currency : currentCurrency : 'symbol' }}</span>
        </p>
        <p class="sub-line">Fare <span class="price">{{ fareItem.fare | currency : currentCurrency : 'symbol'}}</span>
        </p>
        <p class="sub-line">
          Tax & Service Charge
          <span class="price">{{ fareItem.tax | currency : currentCurrency : 'symbol' }}</span>
        </p>
      </li>
    </ul>
  </div>
  <div class="fare-total">
    <h3 class="title">total:</h3>
    <span class="price">{{ total | currency : currentCurrency : 'symbol' }}</span>
  </div>
</section>
