<section class="flight-fare">
  <ul>
    <li>
      <p class="line">
        <span class="title">{{ adult }} x Adult Fare</span>
        <span class="price">{{ price }}{{ currency$ | async }}</span>
      </p>
      <p class="sub-line">Fare <span class="price">€98.00</span></p>
      <p class="sub-line">Tax & Service Charge <span class="price">€98.00</span></p>
    </li>
    <li *ngIf="child">
      <p class="line">
        <span class="title">{{ child }} x Child Fare</span>
        <span class="price">{{ price }}{{ currency$ | async }}</span>
      </p>
      <p class="sub-line">Fare <span class="price">€88.00</span></p>
      <p class="sub-line">Tax & Service Charge <span class="price">€98.00</span></p>
    </li>
    <li *ngIf="infant">
      <p class="line">
        <span class="title">{{ infant }} x Infant Fare</span>
        <span class="price">{{ price }}{{ currency$ | async }}</span>
      </p>
      <p class="sub-line">Fare <span class="price">€88.00</span></p>
      <p class="sub-line">Tax & Service Charge <span class="price">€10.00</span></p>
    </li>
  </ul>
</section>
