<div class="page-wrapper">
  <div class="cart-table-wrapper section-bg">
    <h2>Cart</h2>

    <div class="table-wrapper">
      <div class="table">
        <div class="table-header table-head-bg">
          <p>
            <mat-checkbox color="primary" class="example-margin" (change)="checkUncheckAllItems()"></mat-checkbox>
            <span style="padding-left: 30px;">No.</span>
            <span class="arrow-icons">
              <mat-icon>arrow_drop_up</mat-icon>
              <mat-icon>arrow_drop_down</mat-icon>
            </span>
          </p>
          <p>Flight
            <span class="arrow-icons">
              <mat-icon>arrow_drop_up</mat-icon>
              <mat-icon>arrow_drop_down</mat-icon>
            </span>
          </p>
          <p>Type trip <span class="arrow-icons">
              <mat-icon>arrow_drop_up</mat-icon>
              <mat-icon>arrow_drop_down</mat-icon>
            </span></p>
          <p>Data & time <span class="arrow-icons">
              <mat-icon>arrow_drop_up</mat-icon>
              <mat-icon>arrow_drop_down</mat-icon>
            </span></p>
          <p>Passengers</p>
          <p>Price <span class="arrow-icons">
              <mat-icon>arrow_drop_up</mat-icon>
              <mat-icon>arrow_drop_down</mat-icon>
            </span></p>
        </div>


        <div class="table-content" *ngFor="let trip of currentTripStack, index as i">
          <p>
            <mat-checkbox color="primary" class="example-margin" [checked]="currentTripItems[i].checked"
              (change)="checkUncheckItems(trip.id)"></mat-checkbox>
            <span style="padding-left: 30px;">{{trip.ticketsData.data[0].flight_number}}</span>
          </p>
          <p>{{trip.mainData.from?.title}} - {{trip.mainData.destination?.title}}</p>
          <p>{{trip.mainData.roundedTrip | roundedTrip}}</p>
          <p class="date">
            <span>{{trip.mainData.dateStart?.toString() | date}}, 8:40 -
              12:00</span>
            <span *ngIf="trip.mainData.roundedTrip !== 'one'">{{trip.mainData.dateEnd?.toString() | date}},
              7:40 - 11:00</span>
          </p>
          <p class="passengers"><span>{{trip.mainData.adult}} x Adult</span><span
              *ngIf="trip.mainData.child !== 0">{{trip.mainData.child}}
              x
              Child</span>
            <span *ngIf="trip.mainData.infant !== 0">{{trip.mainData.infant}} x Infant</span>
          </p>
          <p class="price"><span>&#8364; {{elemSum(trip)}}</span>
            <button mat-icon-button [matMenuTriggerFor]="menu" (click)="currentMenuItem = trip.id"
              aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
          </p>
        </div>
        <mat-divider class="divider"></mat-divider>
      </div>
    </div>

    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/booking">
        <span>Edit</span>
      </button>
      <button mat-menu-item (click)="deleteItem()">
        <span>Delete</span>
      </button>
    </mat-menu>

    <div class="total-wrapper">
      <div class="total-container">
        <button class="new-trip-button" routerLink="/">+ Add new trip</button>
        <div class="total-sum">
          <p>Total</p><span>&#8364; {{totalSum()}}</span>
        </div>
      </div>
      <mat-divider class="divider"></mat-divider>
    </div>


    <div class="bottom-wrapper">
      <mat-form-field class="promo-input" appearance="outline">
        <mat-label>Promo Code</mat-label>
        <input matInput type="text">
        <button matSuffix color="primary" mat-button aria-label="Clear">
          APPLY
        </button>
      </mat-form-field>
      <div class="payment">
        <p style="margin-left: 10px;">{{getTotalChecked()}} selected</p>
        <button class="payment-button" (click)="saveItems()">Payment</button>
      </div>
    </div>
  </div>
</div>