<div class="ticket-date-card card section-bg" [ngClass]="{
'past': currentDateState === 'past',
'current': index === 2,
'future': currentDateState === 'future'
}">
  <span class="card__date">{{card.date | dateFormat:'DD MMM'}}</span>
  <span class="card__date--day">{{card.date | dateFormat:'dddd'}}</span>
  <span class="card__cost">{{card.cost | customCurrency: this.currency }}</span>
  <img *ngIf="card.cost === null" src="assets/img/icon-doNotFly.png" alt="no tickets for this date">
  <div class="bound" [ngClass]="index === 2 ? boundColorClass : ''"></div>
</div>