<div class="ticket-date-card card" [ngClass]="{
'past': currentDateState === 'past',
'current': index === 2,
'future': currentDateState === 'future'
}">
  <span class="card__date">{{card.date | dateFormat:'DD MMM'}}</span>
  <span class="card__date--day">{{card.date | dateFormat:'dddd'}}</span>
  <span class="card__cost">{{card.cost | currency:'EUR'}}</span>
  <img *ngIf="card.cost === null" src="assets/img/icon-doNotFly.png" alt="no tickets for this date">
  <div class="bound" [style.background-color]="index === 2 ? boundColor : null"></div>
</div>