@mixin typography($weight, $size, $height, $spacing: null) {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  @if ($spacing) {
    letter-spacing: $spacing;
  }
}

@mixin white-block($radius: 5px) {
  background: $color-neutral100;
  box-shadow: $shadow;
  border-radius: $radius;
  box-sizing: border-box;
}

@mixin title-h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}