:root {
  --mdc-typography-body2-font-size: 12px;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.5px;
  background-color: $color-neutral80;
}

.mdc-button.btn-with-gradient {
  @extend %text-button;

  box-sizing: border-box;
  padding: 8px 16px;

  background: $color-highlight-gradient;
  transition: 0.5s;

  border-style: solid;
  border-width: 1px;
  border-color: $color-primary;
  border-radius: 4px;

  display: flex;
  align-items: center;
  text-align: center;

  &:hover {
    box-shadow: $shadow;
    background-size: 200% auto;
    background-position: right top;
  }
}

.mat-mdc-button.btn-with-gradient:not(:disabled) {
  color: $color-neutral100;
}

.mat-typography h2 {
  @include title-h2;
}

.mat-mdc-form-field-icon-suffix {
  padding-left: 9px !important;
}
.mat-mdc-form-field-icon-suffix > .mat-icon {
  padding: 10px;
  font-size: 1.9rem;
  line-height: 1.5rem;
}

.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) .mdc-evolution-chip__text-label,
.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) .mdc-evolution-chip__checkmark {
  color: $color-primary !important;
}

.mat-mdc-standard-chip.mdc-evolution-chip--with-primary-graphic
  .mdc-evolution-chip__action--primary {
  margin: 0 auto;
}

.mdc-text-field {
  background-color: $color-secondary90;
}