@import '../../../../sass/abstracts/variables';
@import '../../../../sass/abstracts/mixins';

.flight-card {
  @include section-style(8px);
  margin-bottom: 2rem;

  .mat-mdc-card-header {
    background-color: $color-secondary80;
    border-top: 3px solid $color-primary;
    border-radius: 8px;
  }
}
