<section class="passengers">
  <form class="passengers-form" [formGroup]="passengersFormGroup">
    <app-passengers [passengersData]="passengersData"></app-passengers>
    <app-contact-details
      [formGroup]="passengersFormGroup"
      [maxLength]="maxLength"
    ></app-contact-details>
    <div class="passengers-form_btns">
      <button mat-button (click)="backClickHandler()">
        Back
      </button>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!this.passengersFormGroup.valid"
        (click)="onSubmit()"
        class="btn">
        Continue
      </button>
    </div>
    <button (click)="add()">Add passengers</button>
  </form>
</section>
